In [3]:
from pandas_datareader import data
import datetime

In [16]:
##Data from Google Finance
# aapl = DataReader("AAPL", "google")
start = datetime.datetime(2017,10,1)
end = datetime.datetime.now() #today
nse = "https://www.nse.co.ke/market-statistics.html"

df = data.DataReader(name="AMZN", data_source="google",start = start, end=end)
# type(df) #pandas.core.frame.DataFrame
df

               Open     High      Low    Close    Volume
Date
2016-10-24   824.95   838.30   822.21   838.09   4060899
2016-10-25   839.30   843.09   833.22   835.18   3248358
2016-10-26   832.76   833.44   820.00   822.59   3998102
2016-10-27   831.24   831.72   815.43   818.36   7406385
2016-10-28   782.00   789.49   774.61   776.32  10841073
2016-10-31   781.03   793.70   780.11   789.82   5413326
2016-11-01   799.00   800.84   776.71   785.41   5305428
2016-11-02   783.93   784.75   763.55   765.56   5026504
2016-11-03   765.05   777.00   764.00   767.03   3872496
2016-11-04   762.79   766.00   753.23   755.05   5122103
2016-11-07   771.64   787.73   770.94   784.93   5984354
2016-11-08   784.97   791.74   779.10   787.75   3412629
2016-11-09   764.00   777.50   760.09   771.88   8562892
2016-11-10   778.81   778.83   717.70   742.38  12746994
2016-11-11   735.73   743.26   728.90   739.01   6622784
2016-11-14   745.51   746.00   710.10   719.07   7321344
2016-11-15   730.00   746.78   725.99   743.24   6755785
2016-11-16   739.88   749.87   735.61   746.49   3648791
2016-11-17   749.32   757.50   748.00   756.40   3651345
2016-11-18   761.00   767.74   757.64   760.16   4373408
2016-11-21   766.00   780.35   765.11   780.00   4614574
2016-11-22   788.17   792.40   781.00   785.33   5311320
2016-11-23   781.73   781.75   773.12   780.12   3540263
2016-11-25   786.50   786.75   777.90   780.37   1837068
2016-11-28   776.99   777.00   764.24   766.77   4438828
2016-11-29   768.00   769.89   761.32   762.52   3272344
2016-11-30   762.00   768.09   750.25   750.57   4625946
2016-12-01   752.41   753.37   738.03   743.65   4665993
2016-12-02   743.40   748.49   736.70   740.34   3561307
2016-12-05   745.00   761.49   742.00   759.36   4314723
...             ...      ...      ...      ...       ...
2017-09-11   974.46   981.94   974.22   977.96   2186666
2017-09-12   983.27   984.67   975.52   982.58   2481066
2017-09-13   983.97  1000.00   979.42   999.60   3374650
2017-09-14   996.80   998.56   987.74   992.21   3913263
2017-09-15   993.01   996.25   984.03   986.79   3760183
2017-09-18   990.40   992.79   968.17   974.19   3411324
2017-09-19   977.25   978.24   967.46   969.86   2671054
2017-09-20   971.79   974.81   962.16   973.21   2888795
2017-09-21   971.31   971.70   962.02   964.65   2337576
2017-09-22   961.01   965.61   954.42   955.10   2641787
2017-09-25   949.31   949.42   932.89   939.79   5123997
2017-09-26   945.49   948.63   931.75   938.60   3564848
2017-09-27   948.00   955.30   943.30   950.87   3124726
2017-09-28   951.86   959.70   950.10   956.40   2522567
2017-09-29   960.11   964.83   958.38   961.35   2543759
2017-10-02   964.00   967.30   952.12   959.19   2442937
2017-10-03   958.00   963.69   950.37   957.10   2666574
2017-10-04   954.21   967.79   954.05   965.45   2527352
2017-10-05   970.00   981.51   969.64   980.85   3229224
2017-10-06   975.64   995.75   975.64   989.58   3782067
2017-10-09   993.24   998.50   987.50   990.99   2938586
2017-10-10   996.67   997.95   980.10   987.20   3084921
2017-10-11   991.27   995.50   986.70   995.00   2337113
2017-10-12   996.81  1008.44   992.40  1000.93   4067317
2017-10-13  1007.00  1007.77  1001.03  1002.94   2431462
2017-10-16  1008.44  1009.57  1001.04  1006.34   2008908
2017-10-17  1005.59  1011.47  1004.38  1009.13   2319742
2017-10-18  1009.27  1022.31   996.55   997.00   2499681
2017-10-19   990.00   991.05   980.24   986.61   3108197
2017-10-20   993.53   994.62   982.00   982.91   2365122

[251 rows x 5 columns]